@charset "UTF-8";
:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #1a1a1a;
  --clr-grey: #F6F6F6;
  /* fonts */
  --body-font-family: "proxima-nova", roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace;
  /* body sizes */
  --body-font-size: 1.6rem;
  /* heading sizes */
  --heading-font-size-xxl: 4rem;
  --heading-font-size-xl: 2.4rem;
  --heading-font-size-l: 2.4rem;
  --heading-font-size-m: 2.4rem;
  --heading-font-size-s: 2.4px;
  --heading-font-size-xs: 2.4px;
  /* nav height */
  --nav-height: 64px;
}

/* buttons */
a.button:any-link,
button {
  border-radius: 22px;
  border: 1px solid transparent;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1.2rem 2.5rem;
  color: #fff;
  background-color: #15884C;
  cursor: pointer;
  outline-color: #fff;
  outline-style: solid;
  outline-width: 1px;
  outline-offset: 0;
  display: inline-block;
  text-decoration: none;
}
a.button:any-link:hover,
button:hover {
  text-decoration: none;
}
a.button:any-link:focus,
button:focus {
  -webkit-box-shadow: 0px 0px 0px 3px #3577FF;
  -moz-box-shadow: 0px 0px 0px 3px #3577FF;
  box-shadow: 0px 0px 0px 3px #3577FF;
}
a.button:any-link:active,
button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a.button:any-link.small,
button.small {
  padding: 0.7rem 1.6rem;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  border-radius: 22px;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
  padding: 1.2rem 2.5rem;
  background-color: #fff;
  color: #15884C;
  border: 1px solid #15884C;
  font-style: normal;
  cursor: pointer;
  outline-style: solid;
  outline-width: 1px;
  outline-offset: 0;
  outline-color: transparent;
  display: inline-block;
  text-decoration: none;
}
a.button.secondary:hover,
button.secondary:hover {
  text-decoration: none;
}
a.button.secondary:focus,
button.secondary:focus {
  -webkit-box-shadow: 0px 0px 0px 3px #3577FF;
  -moz-box-shadow: 0px 0px 0px 3px #3577FF;
  box-shadow: 0px 0px 0px 3px #3577FF;
  outline-offset: 0px;
  outline-color: #fff;
}
a.button.secondary:active,
button.secondary:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a.button.secondary.small,
button.secondary.small {
  padding: 0.7rem 1.6rem;
}

::placeholder {
  color: #D6D6D6;
  font-style: italic;
}

label {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--text-color);
  line-height: 1.2em;
}

select,
input[type=text],
input[type=email],
input[type=datetime],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=url] {
  height: auto;
  padding-top: 1.2rem 1.3rem;
  padding-bottom: 1.2rem 1.3rem;
  color: #4F4F4F;
  background: #FFFFFF;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
}
select::-webkit-input-placeholder select::placeholder, select:-ms-input-placeholder,
select::-webkit-input-placeholder input[type=text]::placeholder,
input[type=text]:-ms-input-placeholder,
select::-webkit-input-placeholder input[type=email]::placeholder,
input[type=email]:-ms-input-placeholder,
select::-webkit-input-placeholder input[type=datetime]::placeholder,
input[type=datetime]:-ms-input-placeholder,
select::-webkit-input-placeholder input[type=number]::placeholder,
input[type=number]:-ms-input-placeholder,
select::-webkit-input-placeholder input[type=password]::placeholder,
input[type=password]:-ms-input-placeholder,
select::-webkit-input-placeholder input[type=search]::placeholder,
input[type=search]:-ms-input-placeholder,
select::-webkit-input-placeholder input[type=tel]::placeholder,
input[type=tel]:-ms-input-placeholder,
select::-webkit-input-placeholder input[type=url]::placeholder,
input[type=url]:-ms-input-placeholder,
input[type=text]::-webkit-input-placeholder select::placeholder,
input[type=text]::-webkit-input-placeholder input[type=text]::placeholder,
input[type=text]::-webkit-input-placeholder input[type=email]::placeholder,
input[type=text]::-webkit-input-placeholder input[type=datetime]::placeholder,
input[type=text]::-webkit-input-placeholder input[type=number]::placeholder,
input[type=text]::-webkit-input-placeholder input[type=password]::placeholder,
input[type=text]::-webkit-input-placeholder input[type=search]::placeholder,
input[type=text]::-webkit-input-placeholder input[type=tel]::placeholder,
input[type=text]::-webkit-input-placeholder input[type=url]::placeholder,
input[type=email]::-webkit-input-placeholder select::placeholder,
input[type=email]::-webkit-input-placeholder input[type=text]::placeholder,
input[type=email]::-webkit-input-placeholder input[type=email]::placeholder,
input[type=email]::-webkit-input-placeholder input[type=datetime]::placeholder,
input[type=email]::-webkit-input-placeholder input[type=number]::placeholder,
input[type=email]::-webkit-input-placeholder input[type=password]::placeholder,
input[type=email]::-webkit-input-placeholder input[type=search]::placeholder,
input[type=email]::-webkit-input-placeholder input[type=tel]::placeholder,
input[type=email]::-webkit-input-placeholder input[type=url]::placeholder,
input[type=datetime]::-webkit-input-placeholder select::placeholder,
input[type=datetime]::-webkit-input-placeholder input[type=text]::placeholder,
input[type=datetime]::-webkit-input-placeholder input[type=email]::placeholder,
input[type=datetime]::-webkit-input-placeholder input[type=datetime]::placeholder,
input[type=datetime]::-webkit-input-placeholder input[type=number]::placeholder,
input[type=datetime]::-webkit-input-placeholder input[type=password]::placeholder,
input[type=datetime]::-webkit-input-placeholder input[type=search]::placeholder,
input[type=datetime]::-webkit-input-placeholder input[type=tel]::placeholder,
input[type=datetime]::-webkit-input-placeholder input[type=url]::placeholder,
input[type=number]::-webkit-input-placeholder select::placeholder,
input[type=number]::-webkit-input-placeholder input[type=text]::placeholder,
input[type=number]::-webkit-input-placeholder input[type=email]::placeholder,
input[type=number]::-webkit-input-placeholder input[type=datetime]::placeholder,
input[type=number]::-webkit-input-placeholder input[type=number]::placeholder,
input[type=number]::-webkit-input-placeholder input[type=password]::placeholder,
input[type=number]::-webkit-input-placeholder input[type=search]::placeholder,
input[type=number]::-webkit-input-placeholder input[type=tel]::placeholder,
input[type=number]::-webkit-input-placeholder input[type=url]::placeholder,
input[type=password]::-webkit-input-placeholder select::placeholder,
input[type=password]::-webkit-input-placeholder input[type=text]::placeholder,
input[type=password]::-webkit-input-placeholder input[type=email]::placeholder,
input[type=password]::-webkit-input-placeholder input[type=datetime]::placeholder,
input[type=password]::-webkit-input-placeholder input[type=number]::placeholder,
input[type=password]::-webkit-input-placeholder input[type=password]::placeholder,
input[type=password]::-webkit-input-placeholder input[type=search]::placeholder,
input[type=password]::-webkit-input-placeholder input[type=tel]::placeholder,
input[type=password]::-webkit-input-placeholder input[type=url]::placeholder,
input[type=search]::-webkit-input-placeholder select::placeholder,
input[type=search]::-webkit-input-placeholder input[type=text]::placeholder,
input[type=search]::-webkit-input-placeholder input[type=email]::placeholder,
input[type=search]::-webkit-input-placeholder input[type=datetime]::placeholder,
input[type=search]::-webkit-input-placeholder input[type=number]::placeholder,
input[type=search]::-webkit-input-placeholder input[type=password]::placeholder,
input[type=search]::-webkit-input-placeholder input[type=search]::placeholder,
input[type=search]::-webkit-input-placeholder input[type=tel]::placeholder,
input[type=search]::-webkit-input-placeholder input[type=url]::placeholder,
input[type=tel]::-webkit-input-placeholder select::placeholder,
input[type=tel]::-webkit-input-placeholder input[type=text]::placeholder,
input[type=tel]::-webkit-input-placeholder input[type=email]::placeholder,
input[type=tel]::-webkit-input-placeholder input[type=datetime]::placeholder,
input[type=tel]::-webkit-input-placeholder input[type=number]::placeholder,
input[type=tel]::-webkit-input-placeholder input[type=password]::placeholder,
input[type=tel]::-webkit-input-placeholder input[type=search]::placeholder,
input[type=tel]::-webkit-input-placeholder input[type=tel]::placeholder,
input[type=tel]::-webkit-input-placeholder input[type=url]::placeholder,
input[type=url]::-webkit-input-placeholder select::placeholder,
input[type=url]::-webkit-input-placeholder input[type=text]::placeholder,
input[type=url]::-webkit-input-placeholder input[type=email]::placeholder,
input[type=url]::-webkit-input-placeholder input[type=datetime]::placeholder,
input[type=url]::-webkit-input-placeholder input[type=number]::placeholder,
input[type=url]::-webkit-input-placeholder input[type=password]::placeholder,
input[type=url]::-webkit-input-placeholder input[type=search]::placeholder,
input[type=url]::-webkit-input-placeholder input[type=tel]::placeholder,
input[type=url]::-webkit-input-placeholder input[type=url]::placeholder {
  color: #D6D6D6;
  font-style: italic;
  font-weight: 400;
  opacity: 1;
}

input,
textarea,
select {
  color: #4F4F4F;
  background: #FFFFFF;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1.1rem 1.3rem;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
}

input:hover,
textarea:hover,
select:hover {
  background-color: #fff;
  border-color: #3577FF;
}

input:focus,
textarea:focus,
select:focus,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  background-color: white;
  border-color: #3577FF;
  box-shadow: 0px 0px 0px 2px rgb(139, 177, 255);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background: #F0F0F0;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local("Arial");
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  line-height: 1.2em;
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 2rem;
  margin-bottom: 1rem;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 64px 16px;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
}
@media (min-width: 900px) {
  .section > div {
    max-width: 1440px;
    margin: auto;
  }
}
/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}